@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Open+Sans&display=swap");

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  height: 550px;
  width: 700px;
  background-color: #fff;
  position: relative;
}

#photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#profile_img {
  margin-top: 25px;
  width: 48px;
  height: 48px;
  border-radius: 275px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

#photo p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#shareBtn {
  background-color: #fff;
  width: 11px;
  height: 11px;
  margin-top: -80px;
  margin-right: -190px;
  float: right;
  padding: 2.5px;
  border: 1px dashed #d0d5dd;
  border-radius: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

#rows {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

button {
  width: 550px;
  height: 40px;
  border: 1px solid;
  margin: 5px 20px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}

a {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-size: 10px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #101828;
}

#Slack_Btn {
  display: none;
}

#logos {
  margin: 40px 0 20px 230px;
}

#slack_logo {
  height: 24px;
  width: 29px;
}

#git_logo {
  height: 18px;
  width: 18px;
}
