@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Open+Sans&display=swap");

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  height: 550px;
  width: 700px;
  background-color: #fff;
  position: relative;
}

#photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#profile_img {
  margin-top: 25px;
  width: 48px;
  height: 48px;
  border-radius: 275px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

#photo p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#shareBtn {
  background-color: #fff;
  width: 11px;
  height: 11px;
  margin-top: -80px;
  margin-right: -190px;
  float: right;
  padding: 2.5px;
  border: 1px dashed #d0d5dd;
  border-radius: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

#rows {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

button {
  width: 550px;
  height: 40px;
  border: 1px solid;
  margin: 5px 20px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 4px;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #101828;
}

#Slack_Btn {
  display: none;
}

#logos {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-self: stretch;
}

#slack_logo {
  height: 24px;
  width: 29px;
}

#git_logo {
  height: 18px;
  width: 18px;
}

#footer {
  position: absolute;
  top: 450px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  height: 50px;
  padding: 40px 0;
}

#zuri_text {
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
  font-family:  'Inter', sans-serif;
}

#fullstop {
  color: #E7332B;
  font-size: 30px;
  font-weight: 700;
}

#HNG_text {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 24px;
text-align: center;
color: #667085;
}

#zuri_logo {
  height: 18px;
  width: 80px;
}
